.sortable {
  cursor: move;
  cursor: -webkit-grabbing;
}

/* a {
	color: #0000EE;
} */

.form-control {
	padding: 3px;
}

.characterNameDelete {
	font-weight: bold;
}

.panel-body {
	padding-bottom: 0px
}

.list-group {
	margin-bottom: 0px
}

.form-control-static:not(.lead) {
	font-weight: bold;
}

.classLevel {
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px; 
}

.classLevel div {
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px; 
}