.sortable {
  cursor: move;
  cursor: -webkit-grabbing;
}

/* a {
	color: #0000EE;
} */

.characterNameDelete {
	font-weight: bold;
}

.tableMod {
	font-weight: bold;
}

.classLevel {
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px; 
}

.classLevel div {
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px; 
}