<!DOCTYPE html>
<html>
<head>
<title>Character Builder</title>

<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>

<script src="js/toaster/jquery.toaster.js"></script>
<!-- end jQuery -->

<link rel="icon" href="/favicon.png" type="image/x-icon" />

<!--  Bootstrap -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1L94saFXWAvEw88RkpRz8r28eQMvt7kG9ux3DdCqya/P3CfLNtgqzMnyaUa49Pl2"
	crossorigin="anonymous" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<!-- end Bootstrap -->

<!-- Knockout -->
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/knockout-sortable/1.1.0/knockout-sortable.min.js"></script>
<!-- end Knockout -->

<script src="js/mmd.min.js"></script>
<script src="js/session.js"></script>
<script src="js/dnd35/viewModel.js"></script>
<script src="js/dnd35/mainTab.js"></script>
<script src="js/dnd35/levelsTab.js"></script>
<script src="js/dnd35/abilitiesTab.js"></script>
<script src="js/dnd35/spellsTab.js"></script>
<script src="js/dnd35/NotesTab.js"></script>

<link rel="stylesheet" href="css/character.css" />
</head>
<body>

	<input id="sessionTimeout" type="hidden"
		th:value="${#httpSession.getMaxInactiveInterval()}"></input>

	<div th:include="fragments/commons :: header"></div>

	<div class="container-fluid">
		<div class="">
			<div class="form-group">
				<label for="characterName" class="control-label">Character
					Name</label><input type="text" class="form-control input-lg"
					data-bind="value: name" id="characterName" />
			</div>
		</div>

		<ul class="nav nav-pills" role="tablist">
			<li role="presentation" class="active"><a href="#mainTab"
				aria-controls="mainTab" role="tab" data-toggle="tab">Main</a></li>
			<li role="presentation"><a href="#levelsTab"
				aria-controls="levelsTab" role="tab" data-toggle="tab">Levels</a></li>
			<li role="presentation"><a href="#abilitiesTab"
				aria-controls="abilitiesTab" role="tab" data-toggle="tab">Abilities</a></li>
			<li role="presentation"><a href="#spellsTab"
				aria-controls="spellsTab" role="tab" data-toggle="tab">Spells</a></li>
			<li role="presentation"><a href="#inventoryTab"
				aria-controls="inventoryTab" role="tab" data-toggle="tab">Inventory</a></li>
			<li role="presentation"><a href="#notesTab"
				aria-controls="notesTab" role="tab" data-toggle="tab">Notes</a></li>
		</ul>
		<br />
		<div class="tab-content">
			<div th:include="fragments/dnd35/mainTab :: content" role="tabpanel"
				class="tab-pane active" id="mainTab"></div>

			<div th:include="fragments/dnd35/levelsTab :: content"
				role="tabpanel" class="tab-pane" id="levelsTab"></div>

			<div th:include="fragments/dnd35/abilitiesTab :: content"
				role="tabpanel" class="tab-pane" id="abilitiesTab"></div>

			<div th:include="fragments/dnd35/spellsTab :: content"
				role="tabpanel" class="tab-pane container" id="spellsTab"></div>

			<div th:include="fragments/dnd35/inventoryTab :: content"
				role="tabpanel" class="tab-pane container" id="inventoryTab">
			</div>

			<div th:include="fragments/dnd35/notesTab :: content" role="tabpanel"
				class="tab-pane container" id="notesTab"></div>
		</div>
	</div>

	<div id="footer" class="span12 text-center"
		style="padding-bottom: 50px">
		<button class="btn btn-success"
			data-bind="click: save, enable: mine() &amp;&amp; tracker().somethingHasChanged()">
			<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
			Save
		</button>
		<a class="btn btn-info" target="_blank" href="replace" id="exportLink"><span
			class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
			Export</a>
		<button type="button" class="btn btn-danger" data-toggle="modal"
			data-target="#deleteConfirmationDialog" data-bind="enable: mine">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			Delete
		</button>
	</div>

	<!-- Character Deletion Modal Dialog -->
	<div class="modal fade" id="deleteConfirmationDialog" tabindex="-1"
		role="dialog" aria-labelledby="deleteConfirmationLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="deleteConfirmationLabel">
						<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
						Delete Character?
					</h4>
				</div>
				<div class="modal-body">
					<p class="text-danger">
						<span data-bind="text: name" class="characterNameDelete"></span>
						will be permanently deleted. Are you sure? This cannot be undone!
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal"
						data-bind="click: deleteCharacter">Delete</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
